:root{
  /* --primary-color: blue;
  color: var(--primary-color); */
  --pd-horizontal:2rem; 
  --ff-sans:"Outfit",sans-serif;
  --fw-light:200;
  --fw-normal:400;
  --fw-bold:600;

  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-700: 1.625rem;
  --fs-900: 2.5rem;

}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
}

.address-container {
  display: grid;
  gap: 0 6px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "building_no locality"
    "city district"
    "state country";
}
.input-container {
  display: grid;
  gap: 0 6px;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
}
.full-detail-container {
  display: grid;
  grid-template-areas: "";
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.building_no {
  grid-area: building_no;
}
.locality {
  grid-area: locality;
}

.city {
  grid-area: city;
}
.district {
  grid-area: district;
}
.state {
  grid-area: state;
}
.country {
  grid-area: country;
}

.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas:
    "user-info"
    "features"
    "account";
}

.user-info {
  grid-area: user-info;
}

.features {
  grid-area: features;
}

.account {
  grid-area: account;
}

.dashboard-institution-name {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "institution-name ."
    "institution-city .";
}

.institution-name {
  grid-area: institution-name;
}
.institution-city {
  grid-area: institution-city;
}
