.home-container {
  --gaps: 2rem;
  height: max-content;
  display: flex;
  position: relative;
  gap: var(--gaps);
  margin-block: var(--gaps);
  padding: var(--gaps);
  overflow: hidden;
}
.institution-home-container {
  display: grid;
  width: 100%;
}
.institution-details {
  height: max-content;
  display: grid;
}

.institution-details p:nth-child(1) {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.btn-section {
  height: 2.25rem;
  display: grid;
  grid-template-columns: 10rem 10rem;
}
.btn-section button {
  background: #234;
  border-radius: 10px;
  box-shadow: 0 6px 5px -5px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-inline-end: 2rem;
}
.standard-list {
  max-width: 50rem;
  display: grid;
  gap: 1rem;
  padding-block: 1rem;
}

.standard-list li {
  /* border: 1px solid green; */
  background-color: #234;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-left: 5px solid #ffffff;
}
.student-form {
  display: grid;
  width: stretch;
  margin-inline: 0.1rem;
  height: fit-content;
  gap: 1rem;
}

.single-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.single-section .input-group {
  display: grid;
  width: 45%;
}
.student-form div > input {
  background-color: transparent;
  border-radius: 0.15rem;
  padding-inline: 0.75rem 0.5rem;
  outline: 0.08rem solid gray;
  outline-offset: 0.05rem;
  width: 100%;
}
.student-form div > input[type="radio"] {
  outline: none;
  width: 0.9rem;
}
.student-form div > input:focus {
  /* background-color: hsl(0 5% 98% / 0.4); */
  outline: 1.5px solid white;
  outline-offset: 0.1rem;
}
input[type="date"] {
  color: white !important; /* Replace with your desired color (e.g., red, #ff0000) */
}
.gender-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.submit-btn {
  background-color: #123;
  color: #ffffff;
  width: fit-content;
  margin-inline-start: auto;
  padding-inline: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  .home-container {
    padding-inline: 0.5rem;
  }
  .standard-list {
    width: 100%;
  }
  .institution-details p:nth-child(1) {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
  }
  .btn-section {
    height: 2.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .btn-section button {
    margin-inline-end: 0;
  }
  /* .single-section {
    display: grid;
    padding-inline: 2rem;
  }
  } */
  .single-section .input-group {
    width: stretch;
    left: 0;
  }
  .gender-section {
    grid-template-columns: auto;
  }
}
