.form-container {
  background-color: hsl(0 0 100%);
  position: absolute;
  z-index: 999;
  left: -100%;
  min-height: 100vh;
  height: fit-content;
  width: min(40rem, 100%);
  padding: 2rem 1rem;
  color: black;
  border-radius: 10px;
  display: grid;
  transition: left 500ms 250ms cubic-bezier(0.42, 0, 0.43, 1);
  /* overflow-y: auto; */
}
@supports (backdrop-filter: blur(1rem)) {
  .form-container {
    background-color: hsl(0 0 100% / 0.1);
    backdrop-filter: blur(1.5rem);
    color: white;
  }
}

.form-container[aria-expanded="true"] {
  left: 0;
}

.form-container .form-content {
  opacity: 0;
  transition: opacity 1000ms 500ms ease-in-out;
  height: fit-content;
}

.form-container[aria-expanded="true"] .form-content {
  opacity: 1;
}
.close-btn {
  --position: 1.5%;
  position: absolute;
  right: var(--position);
  top: var(--position);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .form-container {
    border-radius: 0;
  }
}
