@import "./App.css";

.flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin-inline: auto;
  padding: 0 var(--pd-horizontal);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
  padding: 0 var(--pd-horizontal);
}

footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-top: auto;
}

.main-content {
  display: grid;
  min-height: 80vh;
  margin-block: auto;
  gap: 2%;
  padding: var(--pd-horizontal);
  grid-template-columns: auto;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    "up"
    "down";
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.home-para {
  width: 100%;
  max-height: 50vh;
  height: auto;
  font-size: 4rem;
  font-weight: var(--fw-bold);
}

.home-para h1:first-child {
  min-height: 12rem;
  width: 55%;
  color: white;
  background-color: orange;
  border-radius: 42% 58% 37% 63% / 36% 35% 65% 64%;
}

.overlay {
  z-index: 1;
  overflow: hidden;
}

.links {
  height: 100%;
  gap: 5%;
}

.link {
  font-size: var(--fs-700);
  color: white;
  padding: 0.125rem 1.25rem;
  border-radius: 5rem;
  background: rgb(0, 92, 151);
  background: linear-gradient(
    60deg,
    rgba(0, 92, 151, 1) 0%,
    rgba(54, 55, 149, 1) 100%
  );
}

@media screen and (min-width: 480px) {
  .home-para {
    font-size: 7rem;
  }

  .home-para h1:first-child {
    min-height: 15rem;
    width: 40%;
  }

  .link {
    font-size: var(--fs-500);
  }
}

@media screen and (min-width: 768px) {
  .home-para {
    font-size: 7rem;
  }

  .home-para h1:first-child {
    min-height: 15rem;
    width: 35%;
  }
}

@media screen and (min-width: 1020px) {
  .home-para {
    font-size: 9rem;
  }

  .home-para h1:first-child {
    min-height: 21rem;
    width: 33%;
  }
}
