@import "./App.css";

.login-page {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  height: auto;
}

.login-card {
  flex-direction: column;
  min-width: 20rem;
  min-height: 25rem;
  height: 300px;
  margin-block: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
}

.input-text {
  --tw-bg-opacity: 1;
  display: block;
  width: 100%;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  height: 2.5rem;
  border-radius: 9999px;
  padding-inline: 1rem;
  padding-block: 0.25rem;
}

.login-btn {
  background-color: #23afb7;
  border-radius: 0.375rem;
  height: 2.5rem;
  color: white;
  font-size: var(--fs-500);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login-card {
    min-width: 35rem;
  }
  .login-page {
    flex-direction: row-reverse;
  }
}
