@import './App.css';


.login-card {
    box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 50 100 / 0.5);
    border-radius: .325rem;
    margin-left: 1rem;
    flex-direction: column;
    border-top: .325rem solid teal;
    max-width: 350px;
    height: 300px;
    margin-block: auto;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
    padding-inline: 2rem;
}

input {
    width: 100%;
    background: rgb(0 0 0 / 0.3);
    line-height: 2rem;
    border-radius: 10px;
    padding-inline: 2rem;
}