.sidebar {
  display: grid;
  padding-block-start: 1.2rem;
  height: 100svh;
  grid-template-columns: auto;
  grid-template-rows: 18% 70% auto;
  grid-template-areas:
    "user-info"
    "features"
    "account";
  background-color: #234;
}

.user-info {
  grid-area: user-info;
}

.features {
  grid-area: features;
}

.account {
  grid-area: account;
}

.sidebar-header {
  padding-inline-start: 1rem;
  display: grid;
  align-items: center;
  padding-block: 0.25rem;
}

.sidebar-header p:nth-child(1) {
  /* background-color: beige; */
  height: max-content;
  font-size: 1.25rem;
}

.sidebar-header p:nth-child(2) {
  /* background-color: beige; */
  height: max-content;
  font-size: 0.85rem;
}

nav {
  height: auto;
  overflow-y: auto;
}

.nav-list {
  font-size: 1.25rem;
  height: auto;
  display: grid;
  gap: 0.5rem;
  padding-block: 1rem;
}

.nav-list .links {
  margin-left: 1.5rem;
  border-radius: 100vw 0 0 100vw;
  flex: auto;
  align-content: center;
  padding-inline: 1.5rem;
  cursor: pointer;
}

.nav-list .active {
  background-color: #123;
  padding: auto;
}

.sidebar-footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-footer button {
  background-color: #123;
  border-radius: 100vw;
}

@media (max-width: 30em) {
  .sidebar {
    padding-block-start: 1.8rem;
    background-color: #234;
  }
  @supports (backdrop-filter: blur(1rem)) {
    .sidebar {
      background-color: hsla(0, 0%, 100%, 0.1);
      backdrop-filter: blur(1.5rem);
    }
  }
  .nav-list .links {
    border-radius: 9999px;
    width: 80%;
    margin-inline: auto;
  }
}
